<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h1><%= @artist.name %></h1>
</p>

<% if @artist.artist_images.attached? %>
  <p class="artist-show-images-container">
    <% @artist.artist_images.each do |image| %>
      <%# <p class="artist-show-images-item"> %>
        <%= image_tag image, class: "artist-show-images-item" %>
      <%# </p> %>
    <% end %>
  </p>
<% else %>
  <p> No images yet </p>
<% end %>

<p>
  <strong>Band:</strong>
  <%= @artist.band %>
</p>

<p>
  <strong>Active:</strong>
  <%= @artist.active %>
</p>

<h2> Albums for <%= @artist.name %> </h2>

<% if @albums %>
  <ul>
  <% @albums.each do |album| %>
    <li> <%= link_to album.title, "/albums/#{album.id}" %> </li>
  <% end %>
  </ul>
<% else %>
  <h3> Artist has no albums added </h3>
<% end %>

<h3>Add a new album to <%= @artist.name %>? </h3>

<%= render :partial => 'album_form', :locals => { album: @album, artist: @artist } %>

<h2> Comments about <%= @artist.name %> </h2>

<% if @current_artist_comments %>
  <% @current_artist_comments.each do |comment| %>
    <h6><strong> User, <%= comment.user.email %> wrote: </strong></h6>
    <div class="comment-box">
      <%= comment.content %> 
    </div>
    <%# if current_user == comment.user %>
    <% if policy(comment).edit? %>
      <%= link_to 'Edit Comment', edit_artists_comment_path(comment) %>
    <% end %>
  <% end %>
<% else %>
  <h3> There are no comments about <%= @artist.name %> </h3>
<% end %>

<% if user_signed_in? %>
  <h3> Add a comment! </h3>
  <%= form_with url: '/artists_comments', method: 'post', model: @artist_comment do |form| %>
    <%= form.hidden_field :artist_id, value: @current_artist %>
    <%= form.hidden_field :user_id, value: @current_user %>
    <p>
      <%= form.text_field :content %>
    </p>
    <%= form.submit "Comment on #{@artist.name}" %>
  <% end %>
<% else %>
  <h3> Sign in to add a comment </h3>
<% end %>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
