<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <h3><%= @album.title %></h3>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Length:</strong>
  <%= @album.length %> minutes
</p>

<p id="notice"><%= notice %></p>

<h2> Tracks on <%= @album.title %> </h2>

<% if @album_tracks %>
  <ul>
  <% @album_tracks.each do |album_track| %>
    <li> <%= link_to album_track.track.title, "/tracks/#{album_track.track.id}" %> </li>
  <% end %>
  </ul>
<% else %>
  <h3> <%= @album.title %> has no tracks added </h3>
<% end %>

<h2>Existing Track</h2>

<%= render :partial => 'tracks/existing_track_form', :locals => { album: @album, artist: @artist, track: @track, all_tracks: @all_tracks, options: create_options } %>

<h2>New Track</h2>

<%= render :partial => 'tracks/tracks_form', :locals => { album: @album, artist: @artist, track: @track, all_tracks: @all_tracks, options: create_options } %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
