<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <h3><%= @album.title %></h3>
</p>

<% if @album.album_image.attached? %>
  <td><%= image_tag @album.album_image.service_url %></td>
<% else %>
  <td>image missing</td>
<% end %>

<p>
  <strong>Artist:</strong>
  <%= @album.artist.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @album.year %>
</p>

<p>
  <strong>Length:</strong>
  <%= @album.length %> minutes
</p>

<p> LIKES => <%= @album.likes.count %> <%= (@album.likes.count) == 1 ? 'Like' : 'Likes' %></p>

<% if user_signed_in? %>
  <% if current_user.likes.count == 0 %>
    <%= button_to 'Like', album_likes_path(@album), method: :post %>
  <% else %>
    <%= button_to 'Unlike', "/albums/#{@album.id}/likes", method: :delete %>
  <% end %>
<% else %>
  <p>Sign in to like this album</p>
<% end %>

<p id="notice"><%= notice %></p>

<h3> Tracks on <%= @album.title %> </h3>

<% if @album_tracks %>
  <ul>
  <% @album_tracks.each do |album_track| %>
    <li> <%= link_to album_track.track.title, "/tracks/#{album_track.track.id}" %> </li>
  <% end %>
  </ul>
<% else %>
  <h3> <%= @album.title %> has no tracks added </h3>
<% end %>

<h3><strong> Add a track to <%= @album.title %>? <strong></h3>

<h3>Existing Track</h3>

<%= render :partial => 'tracks/existing_track_form', :locals => { album: @album, artist: @artist, track: @track, all_tracks: @all_tracks, options: create_options } %>

<h3>..or a New Track</h3>

<%= render :partial => 'tracks/tracks_form', :locals => { album: @album, artist: @artist, track: @track, all_tracks: @all_tracks, options: create_options } %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
